.root {
  position: fixed;
  bottom: 0;
  background: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 2px 3px lightgrey;
  left: 0;
  z-index: 10000;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.open {
  bottom: -200px;
}

.contact {
  margin: 2rem 0 6rem;
  h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 300;
  }
}

@media only screen and (min-width: 600px) {
  .root {
    display: none;
  }
}
